.app_dark_theme {
    --bg-color: #142850;
    --inverted-bg-color: #edfff3;
    --primary-color: #579faf;
    --secondary-color: #0c7b93;
    --inverted-primary-color: #354259;
    --inverted-secondary-color: #cdc2ae;

    // skeleton
    --skeleton-color: #3131a4;
    --skeleton-shadow: #3e3ead;

    // code
    --code-bg: #234485;

    // card
    --card-bg: #193367;

    // listbox
    --listbox-bg: #193367;

    // listbox-active
    --listbox-active-bg: #2f60c0ff;
}
