.app_green_theme {
    --bg-color: #fff;
    --inverted-bg-color: #015821;
    --primary-color: #00a8cc;
    --secondary-color: #0c7b93;
    --inverted-primary-color: #e2dfdf;
    --inverted-secondary-color: #cdc2ae;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
