:root {
    --bg-color: #edfff3;
    --inverted-bg-color: #142850;
    --primary-color: #00a8cc;
    --secondary-color: #0c7b93;
    --inverted-primary-color: #cdc2ae;
    --inverted-secondary-color: #354259;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #dfefe2;

    // listbox
    --listbox-bg: #dfefe2;

    // listbox-active
    --listbox-active-bg: #b2d4ec;
}
