.ProfileCard {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(152 196 232 / 20%);
}

.loading,
.error {
    height: 300px;
}

.editing {
    box-shadow: 0 0 10px 5px rgb(40 100 16);
}
